<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>
<link rel="stylesheet" href="/css/enjoy.css"/>
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<body>
<input  class="enjoy-input" style="width: 1000px;height: 20px" type="text" id="url"/>
<br/>
<br/>
<input type="button" class="button" value="发送get请求" onclick="sendGet()"/>
<br/>
<p id="result"></p>
</body>
<script type="text/javascript">
    function sendGet() {
        var data = {};
        data.url=$("#url").val();
        $.ajax({
            url : '/sendGet',
            type : 'post',
            data : data,
            dataType : 'html',
            ifModified : true,
            cache : false,
            success : function(data) {
                console.log(data);
                $("#result").html(data);
            }
        });
    }

</script>
</html>