<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>
<link rel="stylesheet" href="/css/enjoy.css"/>
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<body>
<input  class="enjoy-input" type="text" id="url"/>
<br/>
<br/>
<input type="button" class="button" value="发送GET请求" onclick="sendGet()"/>
<input type="button" class="button" value="发送POST请求" onclick="sendPost()"/>
<select class="selectParam" id="charsetType">
    <option value="UTF-8">UTF-8</option>
    <option value="GBK">GBK</option>
</select>
<select class="selectParam" id="encryptType">
    <option value="0">不加密</option>
    <option value="1">黄山加密</option>
    <option value="2">衢州加密</option>
</select>
<br/>
<p id="result"></p>
</body>
<script type="text/javascript">
    function sendGet() {
        var data = {};
        data.url=$("#url").val();
        data.coding = $('#charsetType').val();
        data.type = $('#encryptType').val();
        $.ajax({
            url : '/sendGet',
            type : 'post',
            data : data,
            dataType : 'html',
            ifModified : true,
            cache : false,
            success : function(data) {
                console.log(data);
                $("#result").html(data);
            }
        });
    }

    function sendPost() {
        var data = {};
        data.url=$("#url").val();
        data.coding = $('#charsetType').val();
        data.type = $('#encryptType').val();
        $.ajax({
            url : '/sendPost',
            type : 'post',
            data : data,
            dataType : 'html',
            ifModified : true,
            cache : false,
            success : function(data) {
                //console.log(data);
                $("#result").html(data);
            }
        });
    }

</script>
</html>